<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>scheduledEvents</title>
</head>
<body>

<input type="text" th:value="${test}" readOnly>%</br>

<table>
    <thead>
    <tr>
        <th>#</th>
        <th>JSONOBJECT</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry, stats : ${events}">
        <td th:text="${stats.index}"></td>
        <td th:text="${entry}"></td>
        <td>
            <table>
                <tbody>
                <tr th:each="object : ${entry}">
                    <td th:text="${object}"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>